:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logoblack-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/* Временная штука */
.box {
  outline: 2px solid tomato;
}

/* нужен ли тут паддинг? */
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

/* navigation */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logoblack-color);
}

.logo span {
  color: var(--accent-color);
}

header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.contacts a {
  color: var(--secondary-text-color);
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.contacts li :hover,
.contacts li :focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  text-align: center;
  background-color: #2f303a;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
}

/* features */

.features h2 {
  display: none;
}

.features p,
.features h3 {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features p {
  color: var(--secondary-text-color);
}

.features h3 {
  font-weight: 700;
  text-transform: uppercase;
}

/* WeDo */

/* Team */

.section-team {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
}

.section-team h3 {
  font-weight: 500;
}
.section-team p {
  color: var(--secondary-text-color);
}

/*Portfolio */

/* по рамке 2 пкс вопрос */

.projects-filter button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 4px 20px;
  display: inline-block;
  border: 2px solid transparent;
}

.projects-filter button:focus,
.projects-filter button:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio h1 {
  display: none;
}

.projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--primary-text-color);
}

.projects p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Footer */

footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

footer .logo {
  color: var(--white-color);
}

address p {
  font-style: normal;
  color: var(--white-color);
}

.bottom-contacts a {
  color: rgba(255, 255, 255, 0.6);
}
